files:
  "/tmp/install-ssm-agent.sh":
    mode: "00555"
    owner: root
    group: root
    encoding: plain
    content: |
      #!/bin/bash

      set +e

      # Find our current region
      AVAILABILITY_ZONE=`wget -qO- http://169.254.169.254/latest/meta-data/placement/availability-zone`
      REGION_ID=${AVAILABILITY_ZONE:0:${#AVAILABILITY_ZONE} - 1}

      AGENT_URL=https://amazon-ssm-${REGION_ID}.s3.amazonaws.com/latest/linux_amd64/amazon-ssm-agent.rpm

      logger "Downloading SSM agent from $AGENT_URL"

      # Install the agent
      cd /tmp
      curl -s $AGENT_URL -o amazon-ssm-agent.rpm

      yum install -y amazon-ssm-agent.rpm
      RET=$?

      if [ $RET -eq 0 ]; then
         logger "SSM agent installed successfully"
      else
         logger "SSM agent already installed"
      fi

      # Ignore the yum return code if the agent is already there
      exit 0

commands:
  00_install_ssm_agent:
    command: '/tmp/install-ssm-agent.sh'
